<div *ngIf="!isLoggedIn$">
  <router-outlet></router-outlet>
</div>

<mat-sidenav-container class="sidenav-container" *ngIf="isLoggedIn$">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <div class="profile-card">
        <img src="../assets/user-profile.jpg" alt="imagem">
        <div class="header" style="margin-bottom: 10px;">
          <h2>{{user}}</h2>
        </div>
      </div>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/clientes" *ngIf="isLoggedIn$">
        <mat-icon>assignment</mat-icon>Clientes
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span class="toolbar-spacer"> </span>
      <button mat-raised-button color="warn" (click)="logout()">
        <mat-icon> logout </mat-icon>
        Logout
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
